In [2]:
import numpy as np
import scipy as sp
from scipy import stats
import pandas as pd
import os
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [3]:
os.getcwd()

'/home/jovyan'

In [4]:
MyFirstData = pd.read_csv('MyFirstData.csv')

In [5]:
MyFirstData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   villid     1200 non-null   int64
 1   hogid      1200 non-null   object
 2   D_HH       1183 non-null   float64
 3   IncomeLab  176 non-null    float64
 4   famsize    1200 non-null   int64
 5   agehead    1199 non-null   float64
 6   sexhead    1200 non-null   object
 7   pov_HH     1199 non-null   object
dtypes: float64(3), int64(2), object(3)
memory usage: 75.1+ KB

In [6]:
MyFirstData.describe(include='all')

,villid,hogid,D_HH,IncomeLab,famsize,agehead,sexhead,pov_HH
count,1.200000e+03,1200,1183.000000,176.000000,1200.000000,1199.000000,1200,1199
unique,NaN,1200,NaN,NaN,NaN,NaN,2,2
top,NaN,MQ1451211102,NaN,NaN,NaN,NaN,Male,pobre
freq,NaN,1,NaN,NaN,NaN,NaN,943,996
mean,5.951112e+06,NaN,0.810651,2242.840909,4.800833,49.124270,NaN,NaN
std,2.291954e+06,NaN,0.391951,2386.681593,2.236142,15.578989,NaN,NaN
min,1.001106e+06,NaN,0.000000,160.000000,1.000000,16.000000,NaN,NaN
25%,7.011004e+06,NaN,1.000000,1200.000000,3.000000,37.000000,NaN,NaN
50%,7.011019e+06,NaN,1.000000,1550.000000,5.000000,47.000000,NaN,NaN
75%,7.015003e+06,NaN,1.000000,2800.000000,6.000000,60.000000,NaN,NaN
max,7.015038e+06,NaN,1.000000,27000.000000,16.000000,96.000000,NaN,NaN

In [7]:
MyFirstData.columns

Index(['villid', 'hogid', 'D_HH', 'IncomeLab', 'famsize', 'agehead', 'sexhead',
       'pov_HH'],
      dtype='object')

In [8]:
MyFirstData.shape

(1200, 8)

In [9]:
MyFirstData.head(5)

,villid,hogid,D_HH,IncomeLab,famsize,agehead,sexhead,pov_HH
0,1001106,0101103050.0539,1.0,NaN,6,29.0,Female,pobre
1,1001106,0101103052.0540,1.0,NaN,6,43.0,Male,no pobre
2,1001106,0101103054.0541,1.0,NaN,6,43.0,Male,no pobre
3,1001106,0101103056.0542,1.0,3200.0,5,25.0,Female,pobre
4,1001106,0101103058.0543,1.0,NaN,5,40.0,Male,no pobre

In [10]:
MyFirstData['sexhead'].value_counts(
)

Male      943
Female    257
Name: sexhead, dtype: int64

In [11]:
MyFirstData['sexhead_male'] = MyFirstData['sexhead'].map({'Male':1, 'Female':0})
MyFirstData['pov_HH_pobre'] = MyFirstData['pov_HH'].map({'pobre':1, 'no pobre':0})

MyFirstData['sexhead_male'].value_counts()

1    943
0    257
Name: sexhead_male, dtype: int64